/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Global styles */
  a {
    text-decoration: none;
    color: #1e90ff;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  img{
    max-width: 100%;
  }

.name-site {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.name-site span
{
 color: blue;
}

.nav-container{
    border-top: 1px solid #eee;
}

.main-navigation {
    padding: 20px 0px ;
    display: flex;    
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/* Categories with css GRID */
.categories-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    gap: 20px;
}


